NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_WHATSAPP_NUMBER=584120000000
NEXT_PUBLIC_WHATSAPP_MESSAGE=Hola Vixon Group, quiero hablar de un proyecto.

RESEND_API_KEY=
RESEND_FROM=Vixon Group <hola@vixongroup.com>
CONTACT_TO=hola@vixongroup.com
